/* Taobaoke List Page */
.taobaoke_item_box {
  border-top: 1px solid #e5e5e5;
  display: inline-block;
  float: left;
  height: auto;
  margin: -1px -4px 0 0;
  overflow: hidden;
  padding: 20px 9px;
  position: relative;
  vertical-align: top;
  width: 216px;
}

.taobaoke_item .pic {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 204px;
  overflow: hidden;
  padding: 6px;
  width: 204px;
}

.taobaoke_item .pic a {
  display: block;
  height: 204px;
  overflow: hidden;
  width: 204px;
}

.taobaoke_item .pic img {
  width: 204px;
}
  
.taobaoke_item h3.title { 
  font-family: "宋体";
  font-weight: normal;
  font-size: 12px;
  height: 34px;
  line-height: 1.5;
  overflow: hidden;
  /*padding: 240px 0 5px;*/
  padding: 5px 0px;
  width: 230px;
}

.taobaoke_item h3.title span.H {
  color: #dd4b39;
}
 
.taobaoke_item .attribute .price .symbol {
  color: #999;
  float: left;
  font-size: 12px;
  font-weight: normal;
  vertical-align: baseline;
}
  
.taobaoke_item .attribute .price .money {
  background-position: -33px 6px;
  color: #f30;
  float: left;
  font-size: 16px;
  font-weight: bold;
}
    
  
.taobaoke_item .attribute .place {
  display: inline;
  float: right;
  font-size: 12px;
  overflow: hidden;
  text-align: right;
}
  
/* Taobaoke Block Items */
.block-taobaoke .taobaoke_item_box {
  border-top: 1px solid #e5e5e5;
  display: inline-block;
  float: left;
  height: auto;
  margin: -1px -4px 0 0;
  overflow: hidden;
  padding: 10px 9px;
  position: relative;
  vertical-align: top;
  width: 180px;
}

.block-taobaoke .taobaoke_item .pic {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 170px;
  overflow: hidden;
  padding: 4px;
  width: 170px;
}

.block-taobaoke .taobaoke_item .pic a {
  display: block;
  height: 170px;
  overflow: hidden;
  width: 170px;
}

.block-taobaoke .taobaoke_item .pic img {
  width: 170px;
}
  
.block-taobaoke .taobaoke_item h3.title {
  
  
  font-family: "宋体";
  font-size: 12px;
  font-weight: normal;
  height: 34px;
  line-height: 1.5;
  overflow: hidden;
  /*padding: 240px 0 5px;*/
  padding: 5px 0px;
  width: 170px;
}
  
.block-taobaoke .taobaoke_item .attribute .price {
  background-position: -33px 6px;
  color: #F30;
  float: left;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
  
.block-taobaoke .taobaoke_item .attribute .place {
  display: inline;
  float: right;
  font-size: 12px;
  overflow: hidden;
  text-align: right;
  width: 60px;
}
